@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

#center {
  background-color: #edf5e1;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 500px;
  height: 500px;
  text-align: center;
  display: flex;
  box-shadow: 4px 4px 10px gray;
  flex-direction: column;

}
#help {
  font-size: 20px;
  width: 400px;
  position: relative;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5cdb95;
  border-radius: 5px;
  box-shadow: 4px 4px 10px gray;
  transition: 0.3s ease-in-out;
}
#help:hover {
  color: white;
  box-shadow: 8px 8px 10px rgb(77, 77, 77);
}
#center input {
  background-color: #8ee4af;
  width: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
  top: 100px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  color: black;
  box-shadow: 4px 4px 10px gray;
}
#center input:first-of-type {
  border-radius: 10px 10px 0 0;

}
#center input:last-of-type {

  border-radius: 0 0 10px 10px;
}
#confirm {
  font-size: 20px;
  width: 400px;
  position: relative;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5cdb95;
  border-radius: 5px;
  box-shadow: 4px 4px 10px gray;
  transition: 0.3s ease-in-out;
}
#confirm:hover {
  color: white;
  box-shadow: 8px 8px 10px rgb(77, 77, 77);
}
* {
  font-family: "Roboto";
  border: none;
}